body {
	background-image: url('../image/snow.png');
	height:100%;
}

#chat-box {
    margin-right:auto;
    margin-left:auto;
    width:500px;
    margin-top:10%;
}
#chat-msg {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 300px;
    margin-left: 0px;
    margin-right: 0px;
    width: 440px;
}

#chatform {
    width:400px;
}

input.span3 {
    height:25px;
    width:400px;
}